*{
    margin: 0;
    padding:0;

}

html, body {
	height: 100%;
	background-color: #eee;
}

 #site_header {

 	width: 100%;
 	background: #eee;
 	padding-bottom: 20px;
 	margin-top: 5px;
 	border-bottom: solid 1px #999;

 }

 #site_header h1 {

 	text-align: center;
 	font-family: 'Oswald', sans-serif;
 	font-weight: 100;
 	font-size: 84px;
 	margin-bottom: -20px;
 }

  #site_container {

	width:1100px;
	margin: 0 auto;
	background: #999;
	padding: 20px;
	overflow: hidden;
 }

 #site_container h1 {

 	text-align: left;
 	font-family: 'Oswald', sans-serif;
 	font-weight: 100;
 	font-size: 42px;
 	

 }

 h1.about {
 	margin-left: 20px;
 }

 #site_container p {

 	text-align: left;
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 100;
 	font-size: 14px;
 	margin-left: 30px;
 	margin-top: 10px;
 	width: 80%;

 }

 ul.about {


 	margin-top: 10px;
 	margin-left: 50px;
 }

 li.about {

 	text-align: left;
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 100;
 	font-size: 14px;
 	margin-bottom: 10px;
 	width: 70%;

 }

  #site_container hr {

 	margin: 20px auto;
 	width:90%;
 }


 #site_header h2 {

 	margin-top: 10px;
 	text-align: center;
 	font-family: 'Raleway', sans-serif;
 	font-weight: 400;
 	font-size: 16px;
 }

  #site_header a {
 	text-decoration: none;
 	color: #000;
 }

#canvas_container {
	
	width:700px;
	height:550px;
	float: left;
	margin-right: 20px;
	margin-left: 10px;
}

#main_canvas {
	border:solid 2px #000;
}

#stats_container{
	width: 360px;
	margin-bottom: 10px;
	float: left;
}

#achieve {
	width: 335px;
	/*height: 280px;*/
	padding: 5px;
	margin: 20px auto;
}

#achieve h1 {
	font-family: 'Oswald', sans-serif;
 	font-weight: 100;
 	font-size: 24px;
 }

 .red {

 	color: #FF7B29;
 }

#achieve ul {
	width:100%;
}

#achieve li {
	list-style-type: none;
	padding: 5px;
	background: #333;
	margin-bottom: 5px;
}

#achieve li h1 {
	font-family: 'Oswald', sans-serif;
 	font-weight: 100;
 	font-size: 16px;
 	color: #eee;
}

#words {
	margin: 10px auto;
	width: 335px;
	height: 140px;
	padding: 5px;
	overflow-x:hidden;
	overflow-y:auto;
}

#words h1 {
	font-family: 'Oswald', sans-serif;
 	font-weight: 100;
 	font-size: 24px;
 }

#words ul {
	width:100%;
}

#words li {
	list-style-type: none;
	padding: 5px;
	background: #333;
	margin-bottom: 5px;
}

#words li h1 {
	font-family: 'Oswald', sans-serif;
 	font-weight: 100;
 	font-size: 16px;
 	color: #eee;
}

#score {
	margin: 0 auto;
	width: 330px;
	height: 55px;
	padding: 5px;
	padding-left: 10px;
	background: #333;
}

#score h1 {
	font-family: 'Oswald', sans-serif;
 	font-weight: 100;
 	font-size: 36px;
 	color: #eee;
 }

 #wpm {
	margin: 20px auto;
	width: 330px;
	height: 55px;
	padding: 5px;
	padding-left: 10px;
	background: #333;
}

#wpm h1 {
	font-family: 'Oswald', sans-serif;
 	font-weight: 100;
 	font-size: 36px;
 	color: #eee;
 }

.credittable {
	text-align: center;	
	font: 100 12px/1.6 'Open Sans', Verdana, Helvetica, sans-serif;
	border-collapse:collapse; 
	margin: 10px auto;
	width: 90%;
}

.credittable td {
	background-color: #ccc;
	padding: 0 5px;
	border: 1px solid black;
	word-wrap: break-word;
}

.credittable th {
	padding: 5px;
}

#site_footer {

	margin:  0 auto;
 	width: 1100px;
 	background: #333;
 	padding:20px;

 }

 #site_footer h1 {

 	margin-left: 10px;
 	font: 100 12px/1.6 'Open Sans', Verdana, Helvetica, sans-serif;
 	color: #eee;

 }

 #site_footer h2 {

 	width: 60%;
 	margin-left: 10px;
 	margin-top: 10px;
 	font: 100 11px/1.6 'Open Sans', Verdana, Helvetica, sans-serif;
 	color: #eee;

 }